:root {
  --icon-width: 200px;
  --text-color: rgb(140, 121, 29);
  --rules-color: rgb(25, 104, 60);
  --fight-red: #611212;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  min-height: 220px;
}

@keyframes textgrowth {
  0% {
    font-size: 7em;
  }
  100% {
    font-size: 7.4em;
  }
}

body {
  background-image: url("src/test.png");
  background-color: rgba(11, 104, 30, 0.249);
}

header {
  display: flex;
  justify-content: center;
  min-height: 205px;
}

#header-division {
  display: flex;
  justify-content: center;
  width: calc(100vw - 50vw);
  height: 5px;
  background-color: var(--text-color);
}

h1 {
  color: var(--text-color);
  margin: 0 30px 0 30px;
  font-family: monospace;
  font-size: 7em;
}

.rules-container {
  display: flex;
  justify-content: center;
  /* visibility: hidden; */
}

.rules-for-game {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 2em;
  padding: 20px;
  border: 2em solid var(--rules-color);
  width: 900px;
  background-color: rgba(31, 104, 54, 0.269);
}

#rules-img {
  height: 500px;
}

.rules-button {
  margin: 20px;
  padding: 10px;
  border: 0.25em double;
  border-radius: 0.5em;
  font-size: 2em;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.735);
  cursor: pointer;
  background-color: var(--rules-color);
}

main {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.score-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.scores {
  display: flex;
  justify-content: space-evenly;
  font-size: 3em;
  font-family: "Permanent Marker", cursive;
  color: var(--fight-red);
  width: calc(100vw - 20vw);
}

.individual-scores {
  display: flex;
  justify-content: conter;
}

#player-score {
  margin-left: 20px;
}

#computer-score {
  margin-left: 20px;
}

.round-results {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  font-size: 5em;
  color: var(--fight-red);
  font-family: "Permanent Marker", cursive;
}

.weapon-icons {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
  list-style-type: none;
}

.all-weapons {
  padding: 10px;
  margin: 0 30px 0 30px;
  border: 1em solid;
  width: var(--icon-width);
  background-color: rgb(123, 44, 42, 0.5);
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.5s ease;
}

.all-weapons:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1em 0.3em var(--fight-red);
  background-color: rgb(123, 44, 42, 0.8);
}

#gun {
  border: 1em solid var(--fight-red);
  background-color: rgb(255, 255, 0, 0.3);
}
#gun:hover {
  box-shadow: 0 0 1.2em 0.3em yellow;
  background-color: rgb(255, 255, 0, 0.8);
}
